<div class="menu-form">
    <div>
        <div>Color</div>
        <select @bind-value="@AppState.Color" @bind-value:event="oninput">
            <option value="black" style="background-color: black">Black</option>
            <option value="red" style="background-color: red">Red</option>
            <option value="blue" style="background-color: blue">Blue</option>
            <option value="green" style="background-color: green">Green</option>
            <option value="purple" style="background-color: purple">Purple</option>
        </select>
    </div>

    <label>
        Thickness<br/>
        <input type="number" min="1" max="10" @bind-value="@AppState.MarkerWidth" @bind-value:event="oninput" />
    </label>
    <label>
        Text<br/>
        <input @bind-value="@AppState.Text" />
    </label>
    <div>
        <div>Create On Double-click</div>
        <select @bind-value="@AppState.DblClkOption" @bind-value:event="oninput" class="opts">
            <option value="">Dbl-click options</option>
            <option value="Text">Text</option>
            <option value="Oval">Oval</option>
            <option value="Rectangle">Rectangle</option>
            <option value="Sticky">Sticky Note</option>
        </select>
    </div>
    <button @onclick="Close">
        Complete
    </button>
</div>
@code {

}
